<%- include("partials/header.ejs") %>

<section class="whiteSection" id="content">
    <div class="container-fluid">
        <form action="/updateEntry" method="POST">
            <div class="mb-3">
                <label for="entryTagline" class="form-label">Tagline</label>
                <input type="text" class="form-control" name="entryTagline" value= "<%= tagline %>">
            </div>
            <div class="mb-3">
                <label for="entryContent" class="form-label">Daily entry</label>
                <textarea class="form-control" name="entryContent" rows="10"><%= content %></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
  </section>

  <%- include("partials/footer.ejs") %>
